@charset "utf-8";

/*문자 인코딩*/

@import "fontello.css";

/*웹폰트 선언*/

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/* 숨김 콘텐츠 */

legend,
.readerable-hidden {
    position: absolute;
    left: -9999em;
}


/*@import url("https://fonts.googleapis.com/css?family=Noto+Sans" );*/


/*이렇게 구글에서 가져올 수도 있다.*/


/* 요소의 여백 초기화 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 제목크기 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: large;
    font-weight: normal;
}


/* 기본스타일 */

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans Regular', serif;
    /*앞 글꼴 인식 못할 시 다음 글꼴 적용*/
    /*뒤는 글꼴 군*/
    font-size: 1.4rem;
    /*루트기준으로계산한다.*/
}

input,
textarea,
select,
option,
button {
    font-family: inherit;
    font-size: inherit;
}


/* 레이아웃 */

.wrapper {
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(255,255,255,1));*/
    /*background-image: url(images/bg_flower.png),linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
 background-repeat: no-repeat;
 background-position: 50% 0, 0 0;*/
    /*단축표기법*/
    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to top, #0ba360 0%, #3cba92 65%, #0ba360 100%)repeat 0 0;
    /*배경이미지를 먼저 할당해주어야 위에 올라와보인다 - > url*/
    /*angle값 들어가도 됨 right 도있음*/
    background-attachment: fixed;
    height: 100vh;
    /*화면에 보이는 크기*/
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    /*(.)점찍어야 클래스 인식됨*/
    width: 940px;
    margin: 0 auto;
}


/*링크 스타일*/

a {
    color: inherit;
    text-decoration-line: none;
}


/*헤더*/

.header {
    box-sizing: border-box;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    /*포함되는 크기로 계산 content-box는 반대*/
    width: 940px;
    border-radius: 0 0 15px 15px;
    /*단축표기법 top을 기준으로 시계방향으로 돌아감.*/
    /*border: 10px solid blue;
  padding: 20px;*/
    /* margin:0 50px 100px 200px;*/
    /*위쪽 아래:0, 우면적:50, 아래 100,왼쪽 200, 상자의 총 면적이 늘어남(투명)*/
    /* margin: 0 auto;*/
    /*브라우저 크기만큼 커진다. 자동할당*/
    min-height: 150px;
    position: relative;
    padding: 0px 30px;
}


/*로고*/

.logo {
    position: absolute;
    top: 55px;
    left: 50px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    list-style-type: none;
    font-size: 0px;
    text-align: right;
    /* block일 때만 적용 가능하다 */
}

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    font-size: 14px;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
}

.info-menu li::after {
    content: "  ";
}

.info-menu li:last-child::after {
    content: "";
}


/* 메인 메뉴 */

.main-menu {
    /*background: linear-gradient(to bottom, #e5892d 0%, #e0652c 35%, #e0652c 65%, #e5892d 100%);*/
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 7px 7px;
    padding-left: 230px;
    height: 60px;
}

.main-menu>li {
    float: left;
    position: relative;
}

.main-menu span {
    font-size: 1.6rem;
    font-family: "noto sans bold";
    color: rgba(255, 255, 255, 0.75);
    line-height: 60px;
    padding: 0 20px;
    display: block;
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    text-shadow: -1px -1px 0 #181818, 1px 1px 0 #181818, 2px 2px 0 #181818, 3px 3px 0 #181818;
    /* text-shadow: 3px 0px #181818, 0px 3px #181818, -3px 0px #181818, 0px -3px #181818;*/
    /* 윤곽해주는방법~ */
}

.main-menu span:hover,
.main-menu span:focus {
    color: hsla(30, 60%, 60%, 0.9);
    outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 1.8px solid #181818;
}

.main-menu ul {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeicon";
    content: "r";
    position: relative;
    top: 2px;
    /* 글꼴 변환 후 텍스트 삽입 */
}


/* navigation 기능 추가! focus*/

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
    /* a 태그를 사용해야 hover를 자연스럽게 사용가능하다.  */
}

.main-menu ul a {
    padding: 8px 15px 7px 0;
    display: block;
}

.about-HTML {
    display: none;
    left: 0;
    padding: 0 20px;
}

.about-CSS {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accesibility {
    display: none;
    left: -130px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    left: -320px;
}


/*비주얼*/

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 70px);
    }
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    /*똑같은 조건을 가진 before after를 지정하고 깜빡거리는 효과만들기*/
}

.visual::before {
    background: url("images/ani_flower_01.png") no-repeat 0 -10px, url("images/ani_flower_02.png") no-repeat 670px 0;
    animation: flower-ani 5s forwards 1s alternate-reverse;
    animation-iteration-count: infinite;
}

.visual::after {
    background: url("images/ani_flower_03.png") no-repeat 300px 0, url("images/ani_flower_04.png") no-repeat 800px 0;
    animation: flower-ani 7s forwards 2s alternate;
    animation-iteration-count: infinite;
}

@keyframes flower-ani {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    animation: text-ani 2s forwards ease-in-out;
    /*앞에 나오는게 duration delay는 옵션이므로 뒤에로 인식한다.*/
}

.main-content {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 15px 15px 15px 15px;
    /*height:60vh;*/
    min-height: 400px;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

.group {}

.group1 {
    width: 250px;
    /*height: 100px;*/
    /*align-self: flex-end;*/
}

.group2 {
    width: 380px;
    /*height: 200px;*/
    /*align-self: flex-start;*/
}

.group3 {
    width: 190px;
    /*height: 150px;*/
    /*align-self: center;*/
}

.login {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}

.login-heading {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.6rem;
    color: #ff0;
    text-indent: 10px;
}

.login-form {
    background: #fff;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.login-form fieldset {
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 0 0 10px 0;
    margin: 0;
    position: relative;
}

.user-pw {
    margin-top: 5px;
}

.login-form label {
    display: inline-block;
    width: 4em;
    cursor: pointer;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.member {
    padding: 0 10px 10px 10px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}


/*float문제를 해결하기 위한 clearfix*/

.member::After {
    content: "";
    display: block;
    clear: both;
}

.icon-female::before {
    color: #0ba360;
}

.join {
    float: left;
}

.find {
    float: right;
}


/*유효성검사배너링크*/

.validation {
    margin-top: 20px;
}

.validation-list li {
    list-style-type: none;
}

.validation a {
    background: url("images/validation_icon.png") no-repeat scroll 15px 50%, rgba(0, 0, 0, 0) linear-gradient(to bottom, #eee, #ccc) repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 15px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    text-indent: 3em;
}

.slogan {
    height: 10vh;
}

.footer-bg {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.footer {
    height: 10vh;
}